<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488299856591-qn26kqn14ggg2rcn8isf2b1frblb0thf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488299856591-qn26kqn14ggg2rcn8isf2b1frblb0thf</string>
	<key>API_KEY</key>
	<string>AIzaSyBKnx6XDcqrRiTtTgrKwPB9svmEYxZuXHc</string>
	<key>GCM_SENDER_ID</key>
	<string>488299856591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>swift.MobileBanking</string>
	<key>PROJECT_ID</key>
	<string>neobank24</string>
	<key>STORAGE_BUCKET</key>
	<string>neobank24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488299856591:ios:ee5398f3f6bb99aa3a2dba</string>
</dict>
</plist>